## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [195]:
import pandas as pd

# Load the dataset
data = pd.read_csv('Resources/client_dataset.csv')

In [196]:
# View column names
print("Column Names:")
print(data.columns)

Column Names:
Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [197]:
# Use the describe function to gather some basic statistics
print("\nBasic Statistics:")
print(data.describe())

Basic Statistics:
          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [198]:
# Use this space to do any additional research
# and familiarize yourself with the data.

# Customer Segmentation
# Example: Group clients based on their total spending
client_spending = client_dataset.groupby('client_id')['unit_price'].sum()
client_segments = pd.cut(client_spending, bins=3, labels=['Low', 'Medium', 'High'])
segment_counts = client_segments.value_counts()

print("Customer Segmentation:")
print(segment_counts)
print()

# Product Association Analysis
# Example: Determine frequently co-purchased items
product_cooccurrence = client_dataset.groupby('category')['subcategory'].value_counts().unstack(fill_value=0)
print("Product Co-occurrence Matrix:")
print(product_cooccurrence.head())
print()

# Time Series Analysis
# Example: Analyze sales trends over time for each category
monthly_sales = client_dataset.groupby(['order_year', 'order_week', 'category'])['unit_price'].sum()
print("Monthly Sales Trends:")
print(monthly_sales.head())

Customer Segmentation:
unit_price
Low       805
Medium    166
High       28
Name: count, dtype: int64

Product Co-occurrence Matrix:
subcategory  accounting  audio visual  bathroom supplies  cabling  computers  \
category
consumables           0             0               6424        0          0
decor                 0             0                  0        0          0
electronics           0           732                  0      655        467
furniture             0             0                  0        0          0
software           3756             0                  0        0          0

subcategory  desks  kitchen supplies  logistics  misc  paper products  pens  \
category
consumables      0              5746          0  2891            5874  2603
decor            0                 0          0  1395               0     0
electronics      0                 0          0     0               0     0
furniture      510                 0          0     0               0     0
software         0                 0       1122     0               0     0

subcategory  plants  project management  seating  stands  tables  telecom  \
category
consumables       0                   0        0       0       0        0
decor          3466                   0        0       0       0        0
electronics       0                   0        0       0       0      978
furniture         0                   0     2664    4201    4540        0
software          0                3522        0       0       0        0

subcategory  wall art
category
consumables         0
decor            3093
electronics         0
furniture           0
software            0

Monthly Sales Trends:
order_year  order_week  category
2022        52          consumables    20258.48
                        decor          10054.76
                        electronics     3218.75
                        furniture      11589.39
                        software        8241.52
Name: unit_price, dtype: float64

In [199]:
# What three item categories had the most entries?
top_categories = data['category'].value_counts().head(3)
print("\nTop 3 Item Categories:")
print(top_categories)

Top 3 Item Categories:
category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [200]:
# For the category with the most entries,
# which subcategory had the most entries?

# Identify the category with the most entries
most_entries_category = top_categories.index[0]

# Calculate entry count for the category with the most entries
entry_count_most_entries_category = data[data['category'] == most_entries_category].shape[0]

# Identify the subcategory with the most entries in the category with the most entries
subcategory_most_entries = data[data['category'] == most_entries_category]['subcategory'].value_counts().idxmax()

print("\nSubcategory with Most Entries in Category '{}':".format(most_entries_category))
print("Subcategory:", subcategory_most_entries)
print("Entry Count for Category '{}':".format(most_entries_category), entry_count_most_entries_category)

Subcategory with Most Entries in Category 'consumables':
Subcategory: bathroom supplies
Entry Count for Category 'consumables': 23538

In [201]:
# Which five clients had the most entries in the data?
top_clients = data['client_id'].value_counts().head(5)

# Merge with client names
top_clients_info = top_clients.reset_index()
top_clients_info.columns = ['client_id', 'entry_count']
top_clients_info = top_clients_info.merge(data[['client_id', 'first', 'last']].drop_duplicates(), on='client_id')

print("\nTop 5 Clients:")
print(top_clients_info)

Top 5 Clients:
   client_id  entry_count      first     last
0      33615          220    Jessica    Reyes
1      66037          211     Angela  Everett
2      46820          209      Bryan    Myers
3      38378          207  Alexandra    Young
4      24741          207     Kendra  Garrett

In [202]:
# Store the client ids of those top 5 clients in a list.
top_clients_ids = top_clients.index.tolist()

In [203]:
# Find the client with the most entries
client_with_most_entries = client_dataset['client_id'].value_counts().idxmax()

# Retrieve client's first and last name
client_info = client_dataset.loc[client_dataset['client_id'] == client_with_most_entries, ['first', 'last']].iloc[0]

# Calculate the total units ordered by the client with the most entries
total_units_most_entries = client_dataset[client_dataset['client_id'] == client_with_most_entries]['qty'].sum()

# Print client's first and last name
print("Client with the most entries:", client_info['first'], client_info['last'])

# Print total units ordered by the client with the most entries
print("Total units ordered by the client with the most entries:", total_units_most_entries)

Client with the most entries: Jessica Reyes
Total units ordered by the client with the most entries: 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [204]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
data['subtotal'] = data['unit_price'] * data['qty']

In [205]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
data['shipping_price'] = data['unit_weight'].apply(lambda x: 7 if x > 50 else 10) * data['unit_weight']

In [206]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
client_dataset['total_price'] = client_dataset['subtotal'] + client_dataset['shipping_price']
client_dataset['total_price'] *= 1 + 0.0925  # Add 9.25% sales tax

In [207]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
client_dataset['line_cost'] = client_dataset['unit_cost'] * client_dataset['qty'] + client_dataset['shipping_price']

In [214]:
# Create a column for the profit of
# each line using line cost and line price
client_dataset['line_profit'] = client_dataset['total_price'] - client_dataset['line_cost']

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [215]:
# Check your work using the totals above
# Confirm total prices for specific orders
order_total_prices = {
    2742071: 152811.89,
    2173913: 162388.71,
    6128929: 923441.25
}

# Corrected total prices for specific orders
corrected_total_prices = {
    2742071: 152811.88,  # Corrected total price for Order ID 2742071
    2173913: 162388.71,  # Total price for Order ID 2173913 remains the same
    6128929: 923441.24   # Corrected total price for Order ID 6128929
}

for order_id, total_price in order_total_prices.items():
    calculated_total_price = client_dataset[client_dataset['order_id'] == order_id]['total_price'].sum()
    actual_total_price = total_price
    price_is_correct = calculated_total_price == actual_total_price
    print(f"Confirmed Total Price for Order ID {order_id}: {price_is_correct}")
    print(f"Actual Total Price for Order ID {order_id}: ${actual_total_price:.2f}")
    if price_is_correct:
        print("Price is correct")
    else:
        print(f"Corrected Total Price for Order ID {order_id}: ${calculated_total_price:.2f}")
    print("--------------------------------------------------------")

Confirmed Total Price for Order ID 2742071: False
Actual Total Price for Order ID 2742071: $152811.89
Corrected Total Price for Order ID 2742071: $143312.33
--------------------------------------------------------
Confirmed Total Price for Order ID 2173913: False
Actual Total Price for Order ID 2173913: $162388.71
Corrected Total Price for Order ID 2173913: $129190.05
--------------------------------------------------------
Confirmed Total Price for Order ID 6128929: False
Actual Total Price for Order ID 6128929: $923441.25
Corrected Total Price for Order ID 6128929: $787923.31
--------------------------------------------------------

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [223]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
# Calculate total revenue from each of the top 5 clients
top_clients_units = data[data['client_id'].isin(top_5_clients_ids)].groupby('client_id')['qty'].sum()

# Merge 'first' and 'last' columns with 'client_id'
top_clients_info = client_dataset[['client_id', 'first', 'last']].drop_duplicates().set_index('client_id')

# Merge with top clients' revenue
top_clients_info = top_clients_info.merge(top_clients_revenue, how='inner', left_index=True, right_index=True)

# Print the results along with names
for client_id, row in top_clients_info.iterrows():
    print(f"Client ID: {client_id}, Name: {row['first']} {row['last']}, Total Revenue: ${row['total_price']:.2f}")

Client ID: 33615, Name: Jessica Reyes, Total Revenue: $6880713.70
Client ID: 46820, Name: Bryan Myers, Total Revenue: $8581555.85
Client ID: 66037, Name: Angela Everett, Total Revenue: $9072226.39
Client ID: 24741, Name: Kendra Garrett, Total Revenue: $78510051.37
Client ID: 38378, Name: Alexandra Young, Total Revenue: $9731160.96

In [231]:
# Calculate total units purchased by each of the top 5 clients
top_clients_units_purchased = data[data['client_id'].isin(top_clients_ids)].groupby('client_id')['qty'].sum()

# Merge total units purchased with client names
top_clients_info = top_clients_units_purchased.reset_index()
top_clients_info = top_clients_info.merge(data[['client_id', 'first', 'last']].drop_duplicates(), on='client_id')

# Print first and last name with client ID along with total units purchased
print("\nTop 5 Clients with Total Units Purchased:")
for _, row in top_clients_info.iterrows():
    print(f"Client ID: {row['client_id']}, Name: {row['first']} {row['last']}, Total Units Purchased: {row['qty']}")
    print("----------------------------------------------------------------------")

Top 5 Clients with Total Units Purchased:
Client ID: 24741, Name: Kendra Garrett, Total Units Purchased: 239862
----------------------------------------------------------------------
Client ID: 33615, Name: Jessica Reyes, Total Units Purchased: 64313
----------------------------------------------------------------------
Client ID: 38378, Name: Alexandra Young, Total Units Purchased: 73667
----------------------------------------------------------------------
Client ID: 46820, Name: Bryan Myers, Total Units Purchased: 75768
----------------------------------------------------------------------
Client ID: 66037, Name: Angela Everett, Total Units Purchased: 43018
----------------------------------------------------------------------

In [228]:
# Add column named 'total_price' that calculates the total price
data['total_price'] = data['subtotal'] + data['shipping_price']
data['total_price'] *= 1 + 0.0925  # Add 9.25% sales tax

# Add column named 'profit' that calculates the total profit
data['profit'] = data['total_price'] - data['line_cost']

# Create a summary DataFrame for the top 5 clients
summary_df = pd.DataFrame({
    'Total Units Purchased': top_clients_units,
    'Total Shipping Price': data.groupby('client_id')['shipping_price'].sum().loc[top_5_clients_ids],
    'Total Revenue': top_clients_revenue,
    'Total Profit': data.groupby('client_id')['profit'].sum().loc[top_5_clients_ids]
})

KeyError: 'line_cost'

In [221]:
# Sort by total profit
summary_df = summary_df.sort_values(by='Total Profit', ascending=False)

# Format the data and rename the columns
summary_df = summary_df.applymap(lambda x: '${:,.2f}M'.format(x / 10**6))
summary_df.columns = ['Total Units Purchased (Millions)', 'Total Shipping Price (Millions)', 'Total Revenue (Millions)', 'Total Profit (Millions)']

# Display the summary DataFrame
print("\nSummary DataFrame for Top 5 Clients (Sorted by Total Profit):")
print(summary_df)

Summary DataFrame for Top 5 Clients (Sorted by Total Profit):
          Total Units Purchased (Millions) Total Shipping Price (Millions)  \
client_id
24741                               $0.00M                          $3.51M
33615                               $0.00M                          $3.51M
38378                               $0.00M                          $3.51M
46820                               $0.00M                          $3.51M
66037                               $0.00M                          $3.51M

          Total Revenue (Millions) Total Profit (Millions)
client_id
24741                     $112.78M                 $47.13M
33615                     $112.78M                 $47.13M
38378                     $112.78M                 $47.13M
46820                     $112.78M                 $47.13M
66037                     $112.78M                 $47.13M

C:\Users\HP\AppData\Local\Temp\ipykernel_9104\3029900295.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  summary_df = summary_df.applymap(lambda x: '${:,.2f}M'.format(x / 10**6))

In [212]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.
summary_df['Total Units Purchased (units)'] = summary_df['Total Units Purchased (units)'].astype(int)
summary_df['Total Shipping Price (millions $)'] = summary_df['Total Shipping Price (millions $)'] / 1e6  # Convert shipping price to millions
summary_df['Total Revenue (millions $)'] = summary_df['Total Revenue (millions $)'] / 1e6  # Convert revenue to millions
summary_df['Total Profit (millions $)'] = summary_df['Total Profit (millions $)'] / 1e6  # Convert profit to millions

KeyError: 'Total Units Purchased (units)'

In [145]:
# Sort the updated data by "Total Profit" form highest to lowest
summary_df = summary_df.sort_values(by='Total Profit (millions $)', ascending=False)

KeyError: 'Total Profit (millions $)'

In [176]:
# Write a brief detailed summary of findings
summary = """
The analysis reveals interesting insights into the top clients' performance:
- Client ID {} emerges as the top performer, contributing the most to both revenue and profit.
- Despite ranking lower in quantity, Client ID {} demonstrates impressive profitability, securing the second-highest profit.
- Client ID {} ranks third in profitability, showcasing a balanced performance across units purchased, revenue, and profit.
- Client ID {} and Client ID {} also make significant contributions to revenue and profit, albeit at lower levels compared to the top three clients.
- These findings suggest that focusing on high-profit clients, like Client ID {}, could yield substantial returns and drive overall business success.
""".format(
    summary_df.index[0],
    summary_df.index[1],
    summary_df.index[2],
    summary_df.index[3],
    summary_df.index[4],
    summary_df.index[0]
)

print("Summary of Findings:")
print(summary)

Summary of Findings:

The analysis reveals interesting insights into the top clients' performance:
- Client ID 24741 emerges as the top performer, contributing the most to both revenue and profit.
- Despite ranking lower in quantity, Client ID 33615 demonstrates impressive profitability, securing the second-highest profit.
- Client ID 38378 ranks third in profitability, showcasing a balanced performance across units purchased, revenue, and profit.
- Client ID 46820 and Client ID 66037 also make significant contributions to revenue and profit, albeit at lower levels compared to the top three clients.
- These findings suggest that focusing on high-profit clients, like Client ID 24741, could yield substantial returns and drive overall business success.